@Html.Partial("~/Views/Home/_header.cshtml");
@model IEnumerable<MarriageHall.Models.Hall>

    <section id=internal-title class=container data-background=parallax> 
        <h1>Booking</h1><!-- Internal Page Main titles --> 
        <ol class=breadcrumb><!-- Internal Page Breadcrumb --> 
            <li><a href="~/Home/Index">Home</a></li> 
            <li class=active>Booking</li> </ol> 

    </section> <!-- End of Internal Page Main titles boxes --> 
<section id=columns class=padding-bottom> <!-- Booking Main Container --> 
    <div class="container booking-container"> <!-- The tabular structure uses the Bootstrap tab structure! --> 
        <ul class="nav nav-tabs nav-justified" id=booking-tabs><!-- Booking Tabs --> 
            <li class=active><!-- Add Active class for the active tab --> 
                <a href=#booking-choose-date data-toggle=tab> 
                    <span class=number><b>1</b></span><!-- Tab number --> 
                    <span class=title>Choose Your Date</span><!-- Tab title --> 

                </a> 

            </li> 
            <li> 
                <a href=#booking-choose-room data-toggle=tab> 
                    <span class=number><b>2</b></span><!-- Tab number --> 
                    <span class=title>Choose Your Hall</span><!-- Tab title --> 

                </a> 

            </li> 
            <li> <a href=#booking-reservation data-toggle=tab> 
                    <span class=number><b>3</b></span><!-- Tab number --> 
                    <span class=title>Reservation</span><!-- Tab title --> 

                 </a> 

            </li> 
            <li> 
                <a href=#booking-confirmation data-toggle=tab> 
                    <span class=number><b>4</b></span><!-- Tab number --> 
                    <span class=title>Confirmation</span><!-- Tab title --> 

                </a> 

            </li> 

        </ul> <!-- Tab main content container --> 
        <div id=booking-tab-contents class=tab-content> <!-- Tab Contents ( Do Not Change / Remove the ID) --> 
            <div class="tab-pane fade in active" id=booking-choose-date> <!-- Check In / Check Out section --> 
                <div class="input-daterange booking-dates"> 
                    <div class="booking-date-fields-container col-xs-12"><!-- Do NOT change the "booking-date-fields-container" Class --> 
                        <h5><span><b>Check</b> your Date</span></h5> 

                    </div> 
                    
                </div> 
                
                <div align="center">
                    <a href="booking-choose-room"><input class="btn btn-sm colored" value="Proceed" /></a>
                    
                </div>

            </div> 
            <div class="tab-pane fade" id=booking-choose-room> 
                <section id=rooms> 
                    <div id=roomLoader class=clearfix>
                        <div class=loader></div>
                        <div class=close-icon></div>
                        <div id=roomLoader-container></div>

                    </div>
                    <ul class="property-container prp-ajax-loader clearfix"> <!-- Room Box ( You can create Room boxes as much as you want! But Do Not change the classes and attributes ) --> 
                        @foreach(var m in Model)
                        {
                        <li class="property-boxes col-xs-6 col-md-4"> <!-- Room Image and its title --> 
                            <input type=checkbox class=checkbox id=room-1> 
                            <label for=room-1><span></span></label> 
                            <div class=prp-img> 
                                <img src=@m.Image alt="Single room"><!-- Room's Image --> 
                                <div class=price><span>@m.Price Rs per person</span></div><!-- Room's Price --> 

                            </div> 
                            <div class=prp-detail> 
                                <div class=title>@m.Name</div>
                                <div class=description>@m.Desc </div> 
                                
                                
                            </div> 

                        </li>  
                        }
                        
                    </ul>

                </section> 

            </div> 
            <div class="tab-pane fade" id=booking-reservation> 
                <h4><span><b>User</b> info</span></h4> 
                <form class="search-form" action="/Booking/Add_Booking_user" method="post" >
                <div class=row> 
                    <div class="field-container col-xs-6 col-md-4"> 
                        <input type=text name="fname" placeholder="First Name *">

                    </div> 
                    <div class="field-container col-xs-6 col-md-4"> 
                        <input type=text name="lname" placeholder="Last Name *">

                    </div> 
                    <div class="field-container col-xs-12 col-md-4"> 
                        <input type=email name="email" placeholder="Email *">

                    </div> 

                </div> 
                <div class=row> 
                    <div class="field-container col-xs-6 col-md-4"> 
                        <input type=tel name="phone" placeholder="Phone *">

                    </div> 
                    <div class="field-container col-xs-6 col-md-4"> 
                        <input type=text name="city" placeholder=City>

                    </div> 
                    <div class="field-container col-xs-12 col-md-4"> 
                        <input type=email name="address" placeholder=Address>

                    </div> 

                </div> 
                <div class="field-container row message-field"> 
                    <textarea id=message-field name="message" placeholder="Special Requirements"></textarea>

                </div> 
                <div class=terms-condition> 
                    <input type=checkbox class=checkbox id=terms> 
                    <label for=terms class=sm><span></span></label> I have read and accept the terms and conditions. 
                </div>
                <div class="search-button-container">
            <input class="btn btn-sm colored" value="Confirm" type="submit"/>
        </div>
            </form>
            <div class="tab-pane fade" id=booking-confirmation> 
                <h3><span><b>Reservation</b> Complete!</span></h3> 
                <p> Details of your reservation request was sent to your email <br> For completing the Reservation you must contact us within 7 days on <a href="~/Contact/Contact"> Address </a> of our Hall</p>

            </div> 

        </div> 

    </div> 

</section> 
@Html.Partial("~/Views/Home/_footer.cshtml");